# Implementación de Polars
# Ejemplos Varios<a class="tocSkip">
## Reconocimiento de Patrones <a class="tocSkip">
### Ingenieria Electrónica <a class="tocSkip">
### Universidad Popular del Cesar <a class="tocSkip">
### Prof.: Jose Ramón Iglesias Gamarra - [https://github.com/joseramoniglesias/](https://github.com/joseramoniglesias/) <a class="tocSkip">
  **joseiglesias@unicesar.edu.co**

# Librerías
Estas son las librerías utilizadas en (entorno Python):

# Datos
Vamos a utilizar datos públicos del sistema nacional de salud de Inglaterra (NHS: National Health Service). El archivo de tipo csv contiene una muestra de datos de prescripciones médicas realizadas en Reino Unido (Deciembre 2014).

Polars puede trabajar con distintos formatos de datos (csv, parquet, json, DBs, etc.).

In [1]:
import polars as pl
from datetime import datetime

In [2]:
# Lectura de datos (csv)
# ==============================================================================
nhs_raw_df = pl.read_csv('sample_epd_201412.csv', separator=";")
print(f"Tipo de objeto: {type(nhs_raw_df)}")
print(f"Dimensiones de los datos: {nhs_raw_df.shape}")
display(nhs_raw_df.head())

Tipo de objeto: <class 'polars.dataframe.frame.DataFrame'>
Dimensiones de los datos: (50000, 26)

shape: (5, 26)
┌──────────┬────────────┬────────────┬────────────┬───┬──────────┬───────┬───────────┬────────────┐
│ YEAR_MON ┆ REGIONAL_O ┆ REGIONAL_O ┆ AREA_TEAM_ ┆ … ┆ ADQUSAGE ┆ NIC   ┆ ACTUAL_CO ┆ UNIDENTIFI │
│ TH       ┆ FFICE_NAME ┆ FFICE_CODE ┆ NAME       ┆   ┆ ---      ┆ ---   ┆ ST        ┆ ED         │
│ ---      ┆ ---        ┆ ---        ┆ ---        ┆   ┆ f64      ┆ f64   ┆ ---       ┆ ---        │
│ i64      ┆ str        ┆ str        ┆ str        ┆   ┆          ┆       ┆ f64       ┆ str        │
╞══════════╪════════════╪════════════╪════════════╪═══╪══════════╪═══════╪═══════════╪════════════╡
│ 201412   ┆ NORTH OF   ┆ Y54        ┆ GREATER    ┆ … ┆ 3.0      ┆ 4.5   ┆ 4.16564   ┆ N          │
│          ┆ ENGLAND    ┆            ┆ MANCHESTER ┆   ┆          ┆       ┆           ┆            │
│          ┆            ┆            ┆ AREA       ┆   ┆          ┆       ┆           ┆            │
│ 201412   ┆ NORTH OF   ┆ Y54        ┆ WEST       ┆ … ┆ 0.0      ┆ 8.8   ┆ 8.1839    ┆ N          │
│          ┆ ENGLAND    ┆            ┆ YORKSHIRE  ┆   ┆          ┆       ┆           ┆            │
│          ┆            ┆            ┆ AREA       ┆   ┆          ┆       ┆           ┆            │
│ 201412   ┆ SOUTH OF   ┆ Y57        ┆ SURREY AND ┆ … ┆ 0.0      ┆ 8.97  ┆ 8.3532    ┆ N          │
│          ┆ ENGLAND    ┆            ┆ SUSSEX     ┆   ┆          ┆       ┆           ┆            │
│          ┆            ┆            ┆ AREA       ┆   ┆          ┆       ┆           ┆            │
│ 201412   ┆ LONDON     ┆ Y56        ┆ NORTH EAST ┆ … ┆ 0.0      ┆ 14.0  ┆ 12.9708   ┆ N          │
│          ┆            ┆            ┆ LONDON     ┆   ┆          ┆       ┆           ┆            │
│          ┆            ┆            ┆ AREA       ┆   ┆          ┆       ┆           ┆            │
│ 201412   ┆ SOUTH OF   ┆ Y57        ┆ BRISTOL, N ┆ … ┆ 177.5    ┆ 46.86 ┆ 51.2295   ┆ N          │
│          ┆ ENGLAND    ┆            ┆ SOM, SOM & ┆   ┆          ┆       ┆           ┆            │
│          ┆            ┆            ┆ S GLOS     ┆   ┆          ┆       ┆           ┆            │
│          ┆            ┆            ┆ ARE…       ┆   ┆          ┆       ┆           ┆            │
└──────────┴────────────┴────────────┴────────────┴───┴──────────┴───────┴───────────┴────────────┘

In [10]:
n_chars = 50

# df.columns
# ==============================================================================
print("="*n_chars)
print("df.columns: listado de columnas de un DataFrame")
print(nhs_raw_df.columns)
print("")

# df.types
# ==============================================================================
print("="*n_chars)
print("df.types: tipos de datos de las columnas de un DataFrame")
print(nhs_raw_df.dtypes)
print(f"Tipos de datos únicos: {set(nhs_raw_df.dtypes)}")
print("")

# df.schema
# ==============================================================================
print("="*n_chars)
print("df.schema: Diccionario con las columnas y sus tipos de datos")
print(nhs_raw_df.schema)
print("")

# df.shape
# ==============================================================================
print("="*n_chars)
print("df.shape : filas x columnas de un DataFrame")
print(nhs_raw_df.shape)
print("")

# df.height
# ==============================================================================
print("="*n_chars)
print("df.height : número de filas de un DataFrame")
print(nhs_raw_df.height)
print("")

# df.width
# ==============================================================================
print("="*n_chars)
print("df.width : número de columnas de un DataFrame")
print(nhs_raw_df.width)
print("")

==================================================
df.columns: listado de columnas de un DataFrame
['YEAR_MONTH', 'REGIONAL_OFFICE_NAME', 'REGIONAL_OFFICE_CODE', 'AREA_TEAM_NAME', 'AREA_TEAM_CODE', 'PCO_NAME', 'PCO_CODE', 'PRACTICE_NAME', 'PRACTICE_CODE', 'ADDRESS_1', 'ADDRESS_2', 'ADDRESS_3', 'ADDRESS_4', 'POSTCODE', 'BNF_CHEMICAL_SUBSTANCE', 'CHEMICAL_SUBSTANCE_BNF_DESCR', 'BNF_CODE', 'BNF_DESCRIPTION', 'BNF_CHAPTER_PLUS_CODE', 'QUANTITY', 'ITEMS', 'TOTAL_QUANTITY', 'ADQUSAGE', 'NIC', 'ACTUAL_COST', 'UNIDENTIFIED']

==================================================
df.types: tipos de datos de las columnas de un DataFrame
[Int64, Utf8, Utf8, Utf8, Utf8, Utf8, Utf8, Utf8, Utf8, Utf8, Utf8, Utf8, Utf8, Utf8, Utf8, Utf8, Utf8, Utf8, Utf8, Float64, Int64, Float64, Float64, Float64, Float64, Utf8]
Tipos de datos únicos: {Int64, Utf8, Float64}

==================================================
df.schema: Diccionario con las columnas y sus tipos de datos
{'YEAR_MONTH': Int64, 'REGIONAL_OFFICE_NAME': Utf8, 'REGIONAL_OFFICE_CODE': Utf8, 'AREA_TEAM_NAME': Utf8, 'AREA_TEAM_CODE': Utf8, 'PCO_NAME': Utf8, 'PCO_CODE': Utf8, 'PRACTICE_NAME': Utf8, 'PRACTICE_CODE': Utf8, 'ADDRESS_1': Utf8, 'ADDRESS_2': Utf8, 'ADDRESS_3': Utf8, 'ADDRESS_4': Utf8, 'POSTCODE': Utf8, 'BNF_CHEMICAL_SUBSTANCE': Utf8, 'CHEMICAL_SUBSTANCE_BNF_DESCR': Utf8, 'BNF_CODE': Utf8, 'BNF_DESCRIPTION': Utf8, 'BNF_CHAPTER_PLUS_CODE': Utf8, 'QUANTITY': Float64, 'ITEMS': Int64, 'TOTAL_QUANTITY': Float64, 'ADQUSAGE': Float64, 'NIC': Float64, 'ACTUAL_COST': Float64, 'UNIDENTIFIED': Utf8}

==================================================
df.shape : filas x columnas de un DataFrame
(50000, 26)

==================================================
df.height : número de filas de un DataFrame
50000

==================================================
df.width : número de columnas de un DataFrame
26

In [11]:
# df.describe()
# ==============================================================================
print("df.describe(): Summary Stats")
display(nhs_raw_df.describe())

df.describe(): Summary Stats

shape: (9, 27)
┌──────────┬──────────┬────────────┬────────────┬───┬──────────┬──────────┬───────────┬────────────┐
│ describe ┆ YEAR_MON ┆ REGIONAL_O ┆ REGIONAL_O ┆ … ┆ ADQUSAGE ┆ NIC      ┆ ACTUAL_CO ┆ UNIDENTIFI │
│ ---      ┆ TH       ┆ FFICE_NAME ┆ FFICE_CODE ┆   ┆ ---      ┆ ---      ┆ ST        ┆ ED         │
│ str      ┆ ---      ┆ ---        ┆ ---        ┆   ┆ f64      ┆ f64      ┆ ---       ┆ ---        │
│          ┆ f64      ┆ str        ┆ str        ┆   ┆          ┆          ┆ f64       ┆ str        │
╞══════════╪══════════╪════════════╪════════════╪═══╪══════════╪══════════╪═══════════╪════════════╡
│ count    ┆ 50000.0  ┆ 50000      ┆ 50000      ┆ … ┆ 50000.0  ┆ 50000.0  ┆ 50000.0   ┆ 50000      │
│ null_cou ┆ 0.0      ┆ 0          ┆ 0          ┆ … ┆ 0.0      ┆ 0.0      ┆ 0.0       ┆ 0          │
│ nt       ┆          ┆            ┆            ┆   ┆          ┆          ┆           ┆            │
│ mean     ┆ 201412.0 ┆ null       ┆ null       ┆ … ┆ 120.4459 ┆ 41.31132 ┆ 38.300054 ┆ null       │
│          ┆          ┆            ┆            ┆   ┆ 82       ┆ 6        ┆           ┆            │
│ std      ┆ 0.0      ┆ null       ┆ null       ┆ … ┆ 645.3314 ┆ 112.1813 ┆ 103.60012 ┆ null       │
│          ┆          ┆            ┆            ┆   ┆ 58       ┆ 17       ┆ 7         ┆            │
│ min      ┆ 201412.0 ┆ LONDON     ┆ -          ┆ … ┆ 0.0      ┆ 0.01     ┆ 0.06461   ┆ N          │
│ max      ┆ 201412.0 ┆ UNIDENTIFI ┆ Y57        ┆ … ┆ 43007.99 ┆ 7256.56  ┆ 6698.1467 ┆ Y          │
│          ┆          ┆ ED         ┆            ┆   ┆ 999      ┆          ┆ 3         ┆            │
│ median   ┆ 201412.0 ┆ null       ┆ null       ┆ … ┆ 9.33333  ┆ 12.65    ┆ 11.86299  ┆ null       │
│ 25%      ┆ 201412.0 ┆ null       ┆ null       ┆ … ┆ 0.0      ┆ 4.98     ┆ 4.71941   ┆ null       │
│ 75%      ┆ 201412.0 ┆ null       ┆ null       ┆ … ┆ 56.0     ┆ 35.97    ┆ 33.23834  ┆ null       │
└──────────┴──────────┴────────────┴────────────┴───┴──────────┴──────────┴───────────┴────────────┘

In [12]:
# df.null_count()
# ==============================================================================
print("df.null_count(): Devuelve un DataFrame con el total de valores nulos por columna")
display(nhs_raw_df.null_count())

df.null_count(): Devuelve un DataFrame con el total de valores nulos por columna

shape: (1, 26)
┌────────────┬────────────┬────────────┬────────────┬───┬──────────┬─────┬───────────┬────────────┐
│ YEAR_MONTH ┆ REGIONAL_O ┆ REGIONAL_O ┆ AREA_TEAM_ ┆ … ┆ ADQUSAGE ┆ NIC ┆ ACTUAL_CO ┆ UNIDENTIFI │
│ ---        ┆ FFICE_NAME ┆ FFICE_CODE ┆ NAME       ┆   ┆ ---      ┆ --- ┆ ST        ┆ ED         │
│ u32        ┆ ---        ┆ ---        ┆ ---        ┆   ┆ u32      ┆ u32 ┆ ---       ┆ ---        │
│            ┆ u32        ┆ u32        ┆ u32        ┆   ┆          ┆     ┆ u32       ┆ u32        │
╞════════════╪════════════╪════════════╪════════════╪═══╪══════════╪═════╪═══════════╪════════════╡
│ 0          ┆ 0          ┆ 0          ┆ 0          ┆ … ┆ 0        ┆ 0   ┆ 0         ┆ 0          │
└────────────┴────────────┴────────────┴────────────┴───┴──────────┴─────┴───────────┴────────────┘

In [13]:
# .select(): Método utilizado para seleccionar una o más columnas
# ==============================================================================
nhs_raw_df.select(pl.col("REGIONAL_OFFICE_NAME"))

shape: (50_000, 1)
┌──────────────────────┐
│ REGIONAL_OFFICE_NAME │
│ ---                  │
│ str                  │
╞══════════════════════╡
│ NORTH OF ENGLAND     │
│ NORTH OF ENGLAND     │
│ SOUTH OF ENGLAND     │
│ LONDON               │
│ …                    │
│ LONDON               │
│ SOUTH OF ENGLAND     │
│ NORTH OF ENGLAND     │
│ SOUTH OF ENGLAND     │
└──────────────────────┘

In [14]:
type(nhs_raw_df.select(pl.col("REGIONAL_OFFICE_NAME")))

polars.dataframe.frame.DataFrame

In [15]:
nhs_raw_df.select(
    [
        pl.col("REGIONAL_OFFICE_NAME"),
        pl.col("REGIONAL_OFFICE_CODE"),
    ]
)

shape: (50_000, 2)
┌──────────────────────┬──────────────────────┐
│ REGIONAL_OFFICE_NAME ┆ REGIONAL_OFFICE_CODE │
│ ---                  ┆ ---                  │
│ str                  ┆ str                  │
╞══════════════════════╪══════════════════════╡
│ NORTH OF ENGLAND     ┆ Y54                  │
│ NORTH OF ENGLAND     ┆ Y54                  │
│ SOUTH OF ENGLAND     ┆ Y57                  │
│ LONDON               ┆ Y56                  │
│ …                    ┆ …                    │
│ LONDON               ┆ Y56                  │
│ SOUTH OF ENGLAND     ┆ Y57                  │
│ NORTH OF ENGLAND     ┆ Y54                  │
│ SOUTH OF ENGLAND     ┆ Y57                  │
└──────────────────────┴──────────────────────┘

In [16]:
# Selección de una única columna
# ==============================================================================
display(nhs_raw_df.select("REGIONAL_OFFICE_NAME").head())

# Selección de múltiples columnas
# ==============================================================================
display(nhs_raw_df.select(["REGIONAL_OFFICE_NAME","REGIONAL_OFFICE_CODE"]).head())

shape: (5, 1)
┌──────────────────────┐
│ REGIONAL_OFFICE_NAME │
│ ---                  │
│ str                  │
╞══════════════════════╡
│ NORTH OF ENGLAND     │
│ NORTH OF ENGLAND     │
│ SOUTH OF ENGLAND     │
│ LONDON               │
│ SOUTH OF ENGLAND     │
└──────────────────────┘

shape: (5, 2)
┌──────────────────────┬──────────────────────┐
│ REGIONAL_OFFICE_NAME ┆ REGIONAL_OFFICE_CODE │
│ ---                  ┆ ---                  │
│ str                  ┆ str                  │
╞══════════════════════╪══════════════════════╡
│ NORTH OF ENGLAND     ┆ Y54                  │
│ NORTH OF ENGLAND     ┆ Y54                  │
│ SOUTH OF ENGLAND     ┆ Y57                  │
│ LONDON               ┆ Y56                  │
│ SOUTH OF ENGLAND     ┆ Y57                  │
└──────────────────────┴──────────────────────┘

In [17]:
# 1. Seleccionar y renombrar columnas: "REGIONAL_OFFICE_NAME", "AREA_TEAM_NAME", "BNF_DESCRIPTION", "TOTAL_QUANTITY", "NIC"
# ==============================================================================
processed_df = (
    nhs_raw_df
    .select(
        [
            pl.col("REGIONAL_OFFICE_NAME").alias("region_name"),
            pl.col("AREA_TEAM_NAME").alias("area_name"),
            pl.col("BNF_DESCRIPTION").alias("drug_name"),
            pl.col("TOTAL_QUANTITY").alias("total_qt"),
            pl.col("NIC").alias("net_ingredient_cost"),
        ]
    )
)

processed_df.head()

shape: (5, 5)
┌──────────────────┬───────────────────────┬──────────────────────┬──────────┬─────────────────────┐
│ region_name      ┆ area_name             ┆ drug_name            ┆ total_qt ┆ net_ingredient_cost │
│ ---              ┆ ---                   ┆ ---                  ┆ ---      ┆ ---                 │
│ str              ┆ str                   ┆ str                  ┆ f64      ┆ f64                 │
╞══════════════════╪═══════════════════════╪══════════════════════╪══════════╪═════════════════════╡
│ NORTH OF ENGLAND ┆ GREATER MANCHESTER    ┆ Dioralyte oral       ┆ 12.0     ┆ 4.5                 │
│                  ┆ AREA                  ┆ powder sachets bl…   ┆          ┆                     │
│ NORTH OF ENGLAND ┆ WEST YORKSHIRE AREA   ┆ Chloramphenicol 1%   ┆ 20.0     ┆ 8.8                 │
│                  ┆                       ┆ eye ointment         ┆          ┆                     │
│ SOUTH OF ENGLAND ┆ SURREY AND SUSSEX     ┆ Microgynon 30 ED     ┆ 252.0    ┆ 8.97                │
│                  ┆ AREA                  ┆ tablets              ┆          ┆                     │
│ LONDON           ┆ NORTH EAST LONDON     ┆ Terbinafine 1% cream ┆ 120.0    ┆ 14.0                │
│                  ┆ AREA                  ┆                      ┆          ┆                     │
│ SOUTH OF ENGLAND ┆ BRISTOL, N SOM, SOM & ┆ Nicorandil 10mg      ┆ 710.0    ┆ 46.86               │
│                  ┆ S GLOS ARE…           ┆ tablets              ┆          ┆                     │
└──────────────────┴───────────────────────┴──────────────────────┴──────────┴─────────────────────┘

In [18]:
# 2. Creación de nuevas columnas: unit_cost, execution_date
# ==============================================================================
processed_df = (
    processed_df
    .with_columns([
        (pl.col("net_ingredient_cost")/pl.col("total_qt")).alias("unit_cost"),
        (pl.lit(datetime.now().date()).alias("execution_date")),
    ])
)

processed_df.head()

shape: (5, 7)
┌───────────────┬──────────────┬──────────────┬──────────┬──────────────┬───────────┬──────────────┐
│ region_name   ┆ area_name    ┆ drug_name    ┆ total_qt ┆ net_ingredie ┆ unit_cost ┆ execution_da │
│ ---           ┆ ---          ┆ ---          ┆ ---      ┆ nt_cost      ┆ ---       ┆ te           │
│ str           ┆ str          ┆ str          ┆ f64      ┆ ---          ┆ f64       ┆ ---          │
│               ┆              ┆              ┆          ┆ f64          ┆           ┆ date         │
╞═══════════════╪══════════════╪══════════════╪══════════╪══════════════╪═══════════╪══════════════╡
│ NORTH OF      ┆ GREATER      ┆ Dioralyte    ┆ 12.0     ┆ 4.5          ┆ 0.375     ┆ 2023-10-18   │
│ ENGLAND       ┆ MANCHESTER   ┆ oral powder  ┆          ┆              ┆           ┆              │
│               ┆ AREA         ┆ sachets bl…  ┆          ┆              ┆           ┆              │
│ NORTH OF      ┆ WEST         ┆ Chlorampheni ┆ 20.0     ┆ 8.8          ┆ 0.44      ┆ 2023-10-18   │
│ ENGLAND       ┆ YORKSHIRE    ┆ col 1% eye   ┆          ┆              ┆           ┆              │
│               ┆ AREA         ┆ ointment     ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ SURREY AND   ┆ Microgynon   ┆ 252.0    ┆ 8.97         ┆ 0.035595  ┆ 2023-10-18   │
│ ENGLAND       ┆ SUSSEX AREA  ┆ 30 ED        ┆          ┆              ┆           ┆              │
│               ┆              ┆ tablets      ┆          ┆              ┆           ┆              │
│ LONDON        ┆ NORTH EAST   ┆ Terbinafine  ┆ 120.0    ┆ 14.0         ┆ 0.116667  ┆ 2023-10-18   │
│               ┆ LONDON AREA  ┆ 1% cream     ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ BRISTOL, N   ┆ Nicorandil   ┆ 710.0    ┆ 46.86        ┆ 0.066     ┆ 2023-10-18   │
│ ENGLAND       ┆ SOM, SOM & S ┆ 10mg tablets ┆          ┆              ┆           ┆              │
│               ┆ GLOS ARE…    ┆              ┆          ┆              ┆           ┆              │
└───────────────┴──────────────┴──────────────┴──────────┴──────────────┴───────────┴──────────────┘

In [19]:
# 3. Filtrar filas: region_name = 'LONDON' or  'SOUTH OF ENGLAND'
# ==============================================================================
processed_df = (
    processed_df
    .filter(
        (pl.col("region_name") == "LONDON") | (pl.col("region_name") == "SOUTH OF ENGLAND")
    )
)

processed_df.head()

shape: (5, 7)
┌───────────────┬──────────────┬──────────────┬──────────┬──────────────┬───────────┬──────────────┐
│ region_name   ┆ area_name    ┆ drug_name    ┆ total_qt ┆ net_ingredie ┆ unit_cost ┆ execution_da │
│ ---           ┆ ---          ┆ ---          ┆ ---      ┆ nt_cost      ┆ ---       ┆ te           │
│ str           ┆ str          ┆ str          ┆ f64      ┆ ---          ┆ f64       ┆ ---          │
│               ┆              ┆              ┆          ┆ f64          ┆           ┆ date         │
╞═══════════════╪══════════════╪══════════════╪══════════╪══════════════╪═══════════╪══════════════╡
│ SOUTH OF      ┆ SURREY AND   ┆ Microgynon   ┆ 252.0    ┆ 8.97         ┆ 0.035595  ┆ 2023-10-18   │
│ ENGLAND       ┆ SUSSEX AREA  ┆ 30 ED        ┆          ┆              ┆           ┆              │
│               ┆              ┆ tablets      ┆          ┆              ┆           ┆              │
│ LONDON        ┆ NORTH EAST   ┆ Terbinafine  ┆ 120.0    ┆ 14.0         ┆ 0.116667  ┆ 2023-10-18   │
│               ┆ LONDON AREA  ┆ 1% cream     ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ BRISTOL, N   ┆ Nicorandil   ┆ 710.0    ┆ 46.86        ┆ 0.066     ┆ 2023-10-18   │
│ ENGLAND       ┆ SOM, SOM & S ┆ 10mg tablets ┆          ┆              ┆           ┆              │
│               ┆ GLOS ARE…    ┆              ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ DEVON,CORNWA ┆ Bisoprolol   ┆ 1568.0   ┆ 55.44        ┆ 0.035357  ┆ 2023-10-18   │
│ ENGLAND       ┆ LL&ISLES OF  ┆ 5mg tablets  ┆          ┆              ┆           ┆              │
│               ┆ SCILLY A…    ┆              ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ WESSEX AREA  ┆ Enalapril    ┆ 168.0    ┆ 6.96         ┆ 0.041429  ┆ 2023-10-18   │
│ ENGLAND       ┆              ┆ 20mg tablets ┆          ┆              ┆           ┆              │
└───────────────┴──────────────┴──────────────┴──────────┴──────────────┴───────────┴──────────────┘

In [20]:
# 4. Ordenar resultados: net_ingredient_cost desc
# ==============================================================================
processed_df = (processed_df.sort("net_ingredient_cost", descending=True))

processed_df.head()

shape: (5, 7)
┌───────────────┬──────────────┬──────────────┬──────────┬──────────────┬───────────┬──────────────┐
│ region_name   ┆ area_name    ┆ drug_name    ┆ total_qt ┆ net_ingredie ┆ unit_cost ┆ execution_da │
│ ---           ┆ ---          ┆ ---          ┆ ---      ┆ nt_cost      ┆ ---       ┆ te           │
│ str           ┆ str          ┆ str          ┆ f64      ┆ ---          ┆ f64       ┆ ---          │
│               ┆              ┆              ┆          ┆ f64          ┆           ┆ date         │
╞═══════════════╪══════════════╪══════════════╪══════════╪══════════════╪═══════════╪══════════════╡
│ SOUTH OF      ┆ THAMES       ┆ Prevenar 13  ┆ 77.0     ┆ 3780.7       ┆ 49.1      ┆ 2023-10-18   │
│ ENGLAND       ┆ VALLEY AREA  ┆ vacc inj     ┆          ┆              ┆           ┆              │
│               ┆              ┆ 0.5ml pre-f… ┆          ┆              ┆           ┆              │
│ LONDON        ┆ NORTH WEST   ┆ Influenza    ┆ 492.0    ┆ 3242.28      ┆ 6.59      ┆ 2023-10-18   │
│               ┆ LONDON AREA  ┆ vaccine      ┆          ┆              ┆           ┆              │
│               ┆              ┆ (split       ┆          ┆              ┆           ┆              │
│               ┆              ┆ virion,…     ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ THAMES       ┆ Tiotropium   ┆ 2340.0   ┆ 2613.0       ┆ 1.116667  ┆ 2023-10-18   │
│ ENGLAND       ┆ VALLEY AREA  ┆ bromide      ┆          ┆              ┆           ┆              │
│               ┆              ┆ 18microgram  ┆          ┆              ┆           ┆              │
│               ┆              ┆ i…           ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ BATH,GLOS,SW ┆ Seretide 500 ┆ 62.0     ┆ 2537.04      ┆ 40.92     ┆ 2023-10-18   │
│ ENGLAND       ┆ INDON &      ┆ Accuhaler    ┆          ┆              ┆           ┆              │
│               ┆ WILTSHIRE    ┆              ┆          ┆              ┆           ┆              │
│               ┆ AR…          ┆              ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ WESSEX AREA  ┆ Fluticasone  ┆ 42.0     ┆ 2498.16      ┆ 59.48     ┆ 2023-10-18   │
│ ENGLAND       ┆              ┆ 250mcg/dose  ┆          ┆              ┆           ┆              │
│               ┆              ┆ / Salmet…    ┆          ┆              ┆           ┆              │
└───────────────┴──────────────┴──────────────┴──────────┴──────────────┴───────────┴──────────────┘

In [21]:
# Función de preprocesado
# ==============================================================================
def preprocess_raw_data(raw_data):

    df = (
        raw_data
        .select(
            [
                pl.col("REGIONAL_OFFICE_NAME").alias("region_name"),
                pl.col("AREA_TEAM_NAME").alias("area_name"),
                pl.col("BNF_DESCRIPTION").alias("drug_name"),
                pl.col("TOTAL_QUANTITY").alias("total_qt"),
                pl.col("NIC").alias("net_ingredient_cost"),
            ]
        )
        .with_columns([
            (pl.col("net_ingredient_cost")/pl.col("total_qt")).alias("unit_cost"),
            (pl.lit(datetime.now().date()).alias("execution_date")),
        ])
        .filter(
            (pl.col("region_name") == "LONDON") | (pl.col("region_name") == "SOUTH OF ENGLAND")
        )
        .sort("net_ingredient_cost", descending=True)
    )

    return df

nhs_processed_df = preprocess_raw_data(raw_data=nhs_raw_df)

print(nhs_processed_df.shape)
display(nhs_processed_df.head())

(19181, 7)

shape: (5, 7)
┌───────────────┬──────────────┬──────────────┬──────────┬──────────────┬───────────┬──────────────┐
│ region_name   ┆ area_name    ┆ drug_name    ┆ total_qt ┆ net_ingredie ┆ unit_cost ┆ execution_da │
│ ---           ┆ ---          ┆ ---          ┆ ---      ┆ nt_cost      ┆ ---       ┆ te           │
│ str           ┆ str          ┆ str          ┆ f64      ┆ ---          ┆ f64       ┆ ---          │
│               ┆              ┆              ┆          ┆ f64          ┆           ┆ date         │
╞═══════════════╪══════════════╪══════════════╪══════════╪══════════════╪═══════════╪══════════════╡
│ SOUTH OF      ┆ THAMES       ┆ Prevenar 13  ┆ 77.0     ┆ 3780.7       ┆ 49.1      ┆ 2023-10-18   │
│ ENGLAND       ┆ VALLEY AREA  ┆ vacc inj     ┆          ┆              ┆           ┆              │
│               ┆              ┆ 0.5ml pre-f… ┆          ┆              ┆           ┆              │
│ LONDON        ┆ NORTH WEST   ┆ Influenza    ┆ 492.0    ┆ 3242.28      ┆ 6.59      ┆ 2023-10-18   │
│               ┆ LONDON AREA  ┆ vaccine      ┆          ┆              ┆           ┆              │
│               ┆              ┆ (split       ┆          ┆              ┆           ┆              │
│               ┆              ┆ virion,…     ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ THAMES       ┆ Tiotropium   ┆ 2340.0   ┆ 2613.0       ┆ 1.116667  ┆ 2023-10-18   │
│ ENGLAND       ┆ VALLEY AREA  ┆ bromide      ┆          ┆              ┆           ┆              │
│               ┆              ┆ 18microgram  ┆          ┆              ┆           ┆              │
│               ┆              ┆ i…           ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ BATH,GLOS,SW ┆ Seretide 500 ┆ 62.0     ┆ 2537.04      ┆ 40.92     ┆ 2023-10-18   │
│ ENGLAND       ┆ INDON &      ┆ Accuhaler    ┆          ┆              ┆           ┆              │
│               ┆ WILTSHIRE    ┆              ┆          ┆              ┆           ┆              │
│               ┆ AR…          ┆              ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ WESSEX AREA  ┆ Fluticasone  ┆ 42.0     ┆ 2498.16      ┆ 59.48     ┆ 2023-10-18   │
│ ENGLAND       ┆              ┆ 250mcg/dose  ┆          ┆              ┆           ┆              │
│               ┆              ┆ / Salmet…    ┆          ┆              ┆           ┆              │
└───────────────┴──────────────┴──────────────┴──────────┴──────────────┴───────────┴──────────────┘

In [22]:
lazy_nhs_raw_df = nhs_raw_df.lazy()
print(f"Object type: {type(lazy_nhs_raw_df)}")

Object type: <class 'polars.lazyframe.frame.LazyFrame'>

In [23]:
print(lazy_nhs_raw_df)

naive plan: (run LazyFrame.explain(optimized=True) to see the optimized plan)

DF ["YEAR_MONTH", "REGIONAL_OFFICE_NAME", "REGIONAL_OFFICE_CODE", "AREA_TEAM_NAME"]; PROJECT */26 COLUMNS; SELECTION: "None"

In [24]:
lazy_nhs_processed_df = preprocess_raw_data(raw_data=lazy_nhs_raw_df)
lazy_nhs_processed_df

In [25]:
lazy_nhs_processed_df.show_graph(optimized=True)

ImportError: Graphviz dot binary should be on your PATH

In [37]:
# .fetch(): devuelve un número limitado de líneas para hacer debugging
# ==============================================================================
print(type(lazy_nhs_processed_df.fetch(20)))
lazy_nhs_processed_df.fetch(20)

<class 'polars.dataframe.frame.DataFrame'>

shape: (8, 7)
┌───────────────┬──────────────┬──────────────┬──────────┬──────────────┬───────────┬──────────────┐
│ region_name   ┆ area_name    ┆ drug_name    ┆ total_qt ┆ net_ingredie ┆ unit_cost ┆ execution_da │
│ ---           ┆ ---          ┆ ---          ┆ ---      ┆ nt_cost      ┆ ---       ┆ te           │
│ str           ┆ str          ┆ str          ┆ f64      ┆ ---          ┆ f64       ┆ ---          │
│               ┆              ┆              ┆          ┆ f64          ┆           ┆ date         │
╞═══════════════╪══════════════╪══════════════╪══════════╪══════════════╪═══════════╪══════════════╡
│ SOUTH OF      ┆ DEVON,CORNWA ┆ Bisoprolol   ┆ 1568.0   ┆ 55.44        ┆ 0.035357  ┆ 2023-05-10   │
│ ENGLAND       ┆ LL&ISLES OF  ┆ 5mg tablets  ┆          ┆              ┆           ┆              │
│               ┆ SCILLY A…    ┆              ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ THAMES       ┆ Co-codamol   ┆ 672.0    ┆ 48.72        ┆ 0.0725    ┆ 2023-05-10   │
│ ENGLAND       ┆ VALLEY AREA  ┆ 15mg/500mg   ┆          ┆              ┆           ┆              │
│               ┆              ┆ capsules     ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ BRISTOL, N   ┆ Nicorandil   ┆ 710.0    ┆ 46.86        ┆ 0.066     ┆ 2023-05-10   │
│ ENGLAND       ┆ SOM, SOM & S ┆ 10mg tablets ┆          ┆              ┆           ┆              │
│               ┆ GLOS ARE…    ┆              ┆          ┆              ┆           ┆              │
│ LONDON        ┆ NORTH EAST   ┆ Terbinafine  ┆ 120.0    ┆ 14.0         ┆ 0.116667  ┆ 2023-05-10   │
│               ┆ LONDON AREA  ┆ 1% cream     ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ BATH,GLOS,SW ┆ Moxonidine   ┆ 112.0    ┆ 9.68         ┆ 0.086429  ┆ 2023-05-10   │
│ ENGLAND       ┆ INDON &      ┆ 200microgram ┆          ┆              ┆           ┆              │
│               ┆ WILTSHIRE    ┆ tablets      ┆          ┆              ┆           ┆              │
│               ┆ AR…          ┆              ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ SURREY AND   ┆ Microgynon   ┆ 252.0    ┆ 8.97         ┆ 0.035595  ┆ 2023-05-10   │
│ ENGLAND       ┆ SUSSEX AREA  ┆ 30 ED        ┆          ┆              ┆           ┆              │
│               ┆              ┆ tablets      ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ WESSEX AREA  ┆ Enalapril    ┆ 168.0    ┆ 6.96         ┆ 0.041429  ┆ 2023-05-10   │
│ ENGLAND       ┆              ┆ 20mg tablets ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ KENT AND     ┆ Verapamil    ┆ 56.0     ┆ 1.38         ┆ 0.024643  ┆ 2023-05-10   │
│ ENGLAND       ┆ MEDWAY AREA  ┆ 40mg tablets ┆          ┆              ┆           ┆              │
└───────────────┴──────────────┴──────────────┴──────────┴──────────────┴───────────┴──────────────┘

In [38]:
# .collect(): devuelve todo el DataFrame
# ==============================================================================
print(type(lazy_nhs_processed_df.collect()))
lazy_nhs_processed_df.collect()

<class 'polars.dataframe.frame.DataFrame'>

shape: (19_181, 7)
┌───────────────┬──────────────┬──────────────┬──────────┬──────────────┬───────────┬──────────────┐
│ region_name   ┆ area_name    ┆ drug_name    ┆ total_qt ┆ net_ingredie ┆ unit_cost ┆ execution_da │
│ ---           ┆ ---          ┆ ---          ┆ ---      ┆ nt_cost      ┆ ---       ┆ te           │
│ str           ┆ str          ┆ str          ┆ f64      ┆ ---          ┆ f64       ┆ ---          │
│               ┆              ┆              ┆          ┆ f64          ┆           ┆ date         │
╞═══════════════╪══════════════╪══════════════╪══════════╪══════════════╪═══════════╪══════════════╡
│ SOUTH OF      ┆ THAMES       ┆ Prevenar 13  ┆ 77.0     ┆ 3780.7       ┆ 49.1      ┆ 2023-05-10   │
│ ENGLAND       ┆ VALLEY AREA  ┆ vacc inj     ┆          ┆              ┆           ┆              │
│               ┆              ┆ 0.5ml pre-f… ┆          ┆              ┆           ┆              │
│ LONDON        ┆ NORTH WEST   ┆ Influenza    ┆ 492.0    ┆ 3242.28      ┆ 6.59      ┆ 2023-05-10   │
│               ┆ LONDON AREA  ┆ vaccine      ┆          ┆              ┆           ┆              │
│               ┆              ┆ (split       ┆          ┆              ┆           ┆              │
│               ┆              ┆ virion,…     ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ THAMES       ┆ Tiotropium   ┆ 2340.0   ┆ 2613.0       ┆ 1.116667  ┆ 2023-05-10   │
│ ENGLAND       ┆ VALLEY AREA  ┆ bromide      ┆          ┆              ┆           ┆              │
│               ┆              ┆ 18microgram  ┆          ┆              ┆           ┆              │
│               ┆              ┆ i…           ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ BATH,GLOS,SW ┆ Seretide 500 ┆ 62.0     ┆ 2537.04      ┆ 40.92     ┆ 2023-05-10   │
│ ENGLAND       ┆ INDON &      ┆ Accuhaler    ┆          ┆              ┆           ┆              │
│               ┆ WILTSHIRE    ┆              ┆          ┆              ┆           ┆              │
│               ┆ AR…          ┆              ┆          ┆              ┆           ┆              │
│ …             ┆ …            ┆ …            ┆ …        ┆ …            ┆ …         ┆ …            │
│ SOUTH OF      ┆ SURREY AND   ┆ Folic acid   ┆ 1.0      ┆ 0.04         ┆ 0.04      ┆ 2023-05-10   │
│ ENGLAND       ┆ SUSSEX AREA  ┆ 5mg tablets  ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ DEVON,CORNWA ┆ Lisinopril   ┆ 1.0      ┆ 0.04         ┆ 0.04      ┆ 2023-05-10   │
│ ENGLAND       ┆ LL&ISLES OF  ┆ 20mg tablets ┆          ┆              ┆           ┆              │
│               ┆ SCILLY A…    ┆              ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ THAMES       ┆ Metformin    ┆ 1.0      ┆ 0.03         ┆ 0.03      ┆ 2023-05-10   │
│ ENGLAND       ┆ VALLEY AREA  ┆ 850mg        ┆          ┆              ┆           ┆              │
│               ┆              ┆ tablets      ┆          ┆              ┆           ┆              │
│ SOUTH OF      ┆ THAMES       ┆ Metocloprami ┆ 1.0      ┆ 0.03         ┆ 0.03      ┆ 2023-05-10   │
│ ENGLAND       ┆ VALLEY AREA  ┆ de 10mg      ┆          ┆              ┆           ┆              │
│               ┆              ┆ tablets      ┆          ┆              ┆           ┆              │
└───────────────┴──────────────┴──────────────┴──────────┴──────────────┴───────────┴──────────────┘

In [41]:
# Group by Operation
# ==============================================================================
agg_df = (
    lazy_nhs_processed_df
    .groupby(["region_name"])
    .agg(
        [
            pl.col("net_ingredient_cost").sum().alias("total_sales"),
            pl.col("total_qt").mean().alias("avg_qt"),
        ]
    )
    .sort("total_sales", descending=True)

).collect()

agg_df

shape: (2, 3)
┌──────────────────┬─────────────┬────────────┐
│ region_name      ┆ total_sales ┆ avg_qt     │
│ ---              ┆ ---         ┆ ---        │
│ str              ┆ f64         ┆ f64        │
╞══════════════════╪═════════════╪════════════╡
│ SOUTH OF ENGLAND ┆ 523946.91   ┆ 427.324624 │
│ LONDON           ┆ 250269.3    ┆ 351.671161 │
└──────────────────┴─────────────┴────────────┘

**Copyright**

The notebooks are provided as [Open Educational Resource](https://de.wikipedia.org/wiki/Open_Educational_Resources). Feel free to use the notebooks for your own educational purposes. The text is licensed under [Creative Commons Attribution 4.0](https://creativecommons.org/licenses/by/4.0/), the code of the IPython examples under the [MIT license](https://opensource.org/licenses/MIT).